node_modules/
.expo/
dist/
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.ipa
*.xcarchive
*.mobileprovision
*.p12
*.cer
*.log
resolver.err.log
resolver.out.log
expo.err.log
expo.log
.DS_Store
Thumbs.db
ios-native/FerAnimeNative/FerAnimeNative.xcodeproj/
feranime-api-service/
